
@using Microsoft.AspNetCore.Http

<div class="container">
    <br />
    <button type="button" id="addGroupBtn" value="Teacher" style="height:100px;width:100px;background-color:orangered;border: dashed">當老師出題</button>
    <button type="button" id="addGroupBtn" value="Student" style="height:100px;width:100px;background-color:cyan;border: dotted">當學生答題</button>
    <br>
    
</div>


<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>